<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
    <li class="active" data-target="#myCarousel" data-slide-to="1"></li>
    <li class="" data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="<%= asset_path( 'ANEU.png' ) %>" alt="">
      <div class="carousel-caption">
        <h2>Lanzamiento</h2>
        <p>No te pierdas el gran lanzamiento de la ANEU el martes 9 de abril a las 10:00 AM!.</p>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>