<title>ANEU - Contacto</title>
<br xmlns="http://www.w3.org/1999/html"><br><div class="container">
    <div class="row">
        <div class="span12">
          <legend>Contactanos!</legend>
          <div class="span6">
            <p class="lead">Horario de atención: <span class="muted">Martes de 8:00AM a 12:00PM</span></p>
            <p class="lead">Correo oficial: <span class="muted">aneu@uniandes.edu.co</span></p>
            <p class="lead">Donde?</p>
            <p>El Laboratorio de Emprendimiento se encuentra ubicado en el quinto piso del edificio de La Liga, al cual se puede acceder entrado al edificio AU, subiendo hasta el cuarto piso, y atravesando toda la terraza que se encuentra del lado contrario a la Estación de la Policía. También se puede acceder bajando por las escaleras que se encuentran al lado de Cascabel, y siguiendo hasta el fondo.</p>
            <a href="https://www.facebook.com/aneuandes" TARGET="_blank"><img src="http://www.buttonshut.com/Facebook-Buttons/Facebook-Buttons-1-10-.png" title="link" alt="link" width="32px" border="0"/></a>
            <a href="http://www.linkedin.com/groups/ANEU-4938396?gid=4938396&trk=hb_side_g" TARGET="_blank"><img src="http://www.buttonshut.com/LinkedIn-Buttons/linkedin-tiny-square2.png" title="link" alt="link" width="32px" border="0"/></a>
            <a href="https://twitter.com/aneuandes" TARGET="_blank"><img src="http://www.buttonshut.com/Twitter-Buttons/Twitter-Buttons-5-74-.png" title="link" alt="link" width="32px" border="0"/></a><br />
          </div>
          <div class="span5">
           <%= form_tag(:action => "contacto", :method=>"POST", :validate=>true) do  %>
                <div class="row"> <div class="span1 lead">Nombre</div> <div class="span3"><input type="text" id="nombre" name="nombre" placeholder="Tu nombre"></div></div>

                <div class="row"> <div class="span1 lead">Correo</div> <div class="span3"><input type="text" id="correo" name="correo" placeholder="Para responderte"></div></div>

                <div class="lead">Que nos quieres decir?</div><p></p>
                <div><textarea id="body" name="body" class="span4" rows="5" placeholder="Escribe tus dudas!"></textarea></div>

                <div> <%= submit_tag "Enviar correo", :class=>"btn btn-success btn-block"%></div>
          <% end %>
          </div>
        </div>
    </div>
</div>