<br>
<div  class="container">
  <legend>Proyectos del ANEU</legend>
</div>
<div class="container marketing well">
  <h1>Lideres del Pensamiento Emprendedor</h1>
  <p>La serie de conferencias “Lideres del Pensamiento Emprendedor” tiene como objetivo inspirar a los estudiantes emprendedores para que estos exploten todo su potencial. Los conferencistas invitados son personas en su mayoría jóvenes, que fácilmente lograran generar impacto entre la audiencia por medio de sus experiencias y prácticos consejos.</p>
  <p>Entre los invitados a <strong>LPE</strong> se encuentran:</p>
  <ul>
    <li>
      <strong>Daniel Angel</strong><br>
      <img src="<%= asset_path('dangel.jpg')%>" style="border:1px solid white"><br>
      <p>Egresado cum laude de Negocios Internacionales en el Tecnológico de Monterrey, Campus Estado de México, con un Diplomado de Formación de Consultores Empresariales de la Cámara de Comercio de Bogotá. Consultor y Socio Fundador de MRD Trade Partners, empresa dedicada a la creación y gestión de alianzas comerciales entre México y Colombia, desarrollo de proyectos de investigación de mercados internacionales, análisis sectoriales, análisis de competidores, evaluación de proyectos, planeación estratégica y análisis de cadena de valor, representaciones comerciales e intermediarios. Actualmente también se encuentra dictando la catedra de Business and Management en The English School de Bogotá</p>
    </li>
  </ul>
</div>