<br>
<div  class="container">
  <legend>Proyectos del ANEU</legend>
</div>
<div class="container marketing well">
    <h1>Concurso Modelos de Negocios</h1>
    <p>El Concurso de Modelos de Negocios, busca fortalecer la cultura de emprendimiento en la Universidad de Los Andes, generando espacios de competitividad, así como de networking, donde estudiantes con ideas de negocio puedan discutir sus características, recibir retroalimentación de otros estudiantes y conectarse con personas de intereses similares. Este concurso también busca fortalecer las propuestas que se presenten a la convocatoria para el Programa Emprendedores, organizado por el Centro de Emprendimiento de la Universidad de Los Andes.</p>
    <p>El concurso se llevará a cabo en 3 etapas:</p>
    <ol>
      <li>
        Desarrollo de los documentos.
        <ul>
          <li>
            Business Model Canvas.
          </li>
          <li>
            Resumen Ejecutivo (1 pagina).
          </li>
          <li>
            Descripción del equipo de trabajo:(Mínimo dos (2) miembros, máximo cinco (5). Mínimo un (1) miembro debe ser estudiante Uniandino. Perfil de máximo una (1) página por miembro):
              <ul><li>
                Nombres y apellidos.
              </li>
              <li>
                Programa que actualmente cursa o titulo de estudios más altos obtenidos.
              </li>
              <li>
                Perfil de LinkedIn <strong>(opcional)</strong>
              </li>
              <li>
                Motivación de ser emprendedor, y de participar en este emprendimiento en particular.
              </li>
              <li>
                Habilidades y conocimientos que aporta al equipo. Experiencia, si la tiene
              </li>
              <li>
                <strong>El líder del equipo debe incluir su correo Uniandes, su código, y su celular. </strong>
              </li>  </ul>
          </li>
          <li>
            Documento de soporte donde se respalden los supuestos y las afirmaciones realizadas en los ítems anteriores. (Entre 2 y 5 paginas)
          </li>
        </ul>
        <br>
        <strong>Quien esté interesado en participar en el concurso, debe enviar los documentos anteriores, escribiendo un correo electrónico dirigido a aneu@uniandes,edu,co, con el asunto: “Concurso Modelo de Negocios ANEU”.
        AL ENVIAR EL CORREO CON LOS DOCUMENTOS QUEDA AUTOMATICAMENTE INSCRITO EN EL CONCURSO. NO ES NECESARIO REALIZAR ALGUNA INSCRIPCION PREVIA.
        Fecha máxima para enviar los documentos requeridos y quedar inscrito en el concurso: lunes 29 de abril, 11:59 p.m.</strong>

      </li><br>
      <li>
        Networking y conformación de equipos emprendedores.<br>
        El equipo de trabajo es uno de los criterios más importantes para el concurso. Por esto mismo, con el apoyo de Empreandinos (Capitulo de Emprendedores de la Asociación de Egresados de la Universidad de los Andes), realizaremos un evento de Networking donde los participantes podrán completar sus equipos de trabajo con personas que aporten conocimientos y talentos complementarios.
        El evento será realizado el día 25 de Abril, en la Sede Nacional de la Asociación de Egresados, a las 6 p.m.
        <br>Inscripción previa obligatoria para asistir al evento en:
        <a href="http://goo.gl/aQRPi">http://goo.gl/aQRPi</a> <br>
        <strong>La asistencia es opcional, pero quienes asistan a este evento tendrán puntos adicionales en el Concurso.</strong><br>
        Lugar del evento: Calle 92 # 16 – 11. Sala Fundadores.
      </li><br>
      <li>Competencia de "Pitches" y premiación.<br>
        Los equipos finalistas tendrán la oportunidad de presentar ante jurados y ante los estudiantes de la Universidad. El equipo ganador del concurso tendrá un cupo fijo en el Programa Emprendedores del Centro de Emprendimiento. El resto de premios serán anunciados a lo largo de la competencia.<br>
        Los finalistas serán anunciados el día 2 de Mayo. Al ser anunciados, los finalistas deben preparar un pitch de cuatro (4) minutos, donde expliquen los aspectos principales de su idea como son:<br>
        <ul>
          <li>
            Problematica
          </li>
          <li>
            Propuesta de valor
          </li>
          <li>
            Equipo de trabajo
          </li>
          <li>
            Aspectos diferenciadores
          </li>
          <li>
            ¿Cómo se va a obtener dinero o como va a ser sostenible el proyecto (en caso de ser un proyecto social)?
          </li>
        </ul>
        Para esto, el líder del equipo debe asistir al evento y realizar la presentación ante los jurados y los asistentes.<br>
        La competencia y la premiación se realizaran el día 9 de Mayo. (Lugar y hora por definir)
      </li>
    </ol>
</div>

<div class="container marketing well">
  <h1>Lideres del Pensamiento Emprendedor</h1>
  <p>La serie de conferencias “Lideres del Pensamiento Emprendedor” tiene como objetivo inspirar a los estudiantes emprendedores para que estos exploten todo su potencial. Los conferencistas invitados son personas en su mayoría jóvenes, que fácilmente lograran generar impacto entre la audiencia por medio de sus experiencias y prácticos consejos.</p>
  <p>Entre los invitados a <strong>LPE</strong> se encuentran:</p>
  <ul>
    <li>
      <strong>Daniel Angel</strong><br>
      <img src="<%= asset_path('dangel.jpg')%>" style="border:1px solid white"><br>
      <p>Egresado cum laude de Negocios Internacionales en el Tecnológico de Monterrey, Campus Estado de México, con un Diplomado de Formación de Consultores Empresariales de la Cámara de Comercio de Bogotá. Consultor y Socio Fundador de MRD Trade Partners, empresa dedicada a la creación y gestión de alianzas comerciales entre México y Colombia, desarrollo de proyectos de investigación de mercados internacionales, análisis sectoriales, análisis de competidores, evaluación de proyectos, planeación estratégica y análisis de cadena de valor, representaciones comerciales e intermediarios. Actualmente también se encuentra dictando la catedra de Business and Management en The English School de Bogotá</p>
    </li>
  </ul>
</div>